[project]
	description = Learn nvme checkins
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/registerme4freebutnospam
[access "refs/for/refs/*"]
	read = group user/registerme4freebutnospam
	push = group user/registerme4freebutnospam
	label-Code-Review = -2..+2 group user/registerme4freebutnospam
	label-Verified = -1..+1 group user/registerme4freebutnospam
	rebase = group user/registerme4freebutnospam
	removeReviewer = group user/registerme4freebutnospam
	submit = group user/registerme4freebutnospam
[access "refs/heads/*"]
	read = group user/registerme4freebutnospam
	create = group user/registerme4freebutnospam
	push = +force group user/registerme4freebutnospam
	pushMerge = group user/registerme4freebutnospam
[access "refs/tags/*"]
	push = group user/registerme4freebutnospam
	push = +force group user/registerme4freebutnospam
